/* =============================================================================
	CONTENT EDITOR STYLESHEET
	
	This is where you would style the WordPress WYSIWYG editor to reflect
	what it looks like on the actual page. This is very helpful for clients
	who are visual and don't want to keep having to hit the preview button.
   ========================================================================== */

@import url( 'library/css/style.css' );
@import url('http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic');
@import url('http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic');

body#tinymce {
font-family: 'Lora', serif;
font-size: 93.8%;
line-height: 1.8em;
color: #817870;
width: 770px;
margin: 0 5px; 
}
				
body#tinymce a {
    color: #FC9885;
	text-decoration:none!important;
}

body#tinymce p {
	margin: 1em 0;
	line-height: 1.7em;
}

body#tinymce ul { list-style: disc; margin: .5em 0 1em 5%!important; }

body#tinymce ol {list-style:decimal; margin: .5em 0 1em 5%!important; }
